@tailwind base;
@tailwind components;
@tailwind utilities;



table {
  width: 100%;
  border-collapse: collapse; 
}

th, td {
  border: 1.5px solid black; 
  padding: 6px; 
  text-align: center; 
}


.body-pattern {
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
                    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

/* Fixed styles for form inputs and selects */
.form-input, .form-select {
  background-color: #fff; /* Light grey background */
  color: #333; /* Dark grey text */
  /* Add any other styling properties you need */
}

@media screen and (max-width: 768px) { /* Adjust this breakpoint as needed */
  table {
    display: block;
    overflow-x: auto;
  }

  th, td {
    white-space: nowrap; /* Prevents content from wrapping */
  }
}

@media screen and (max-width: 480px) {
  th, td {
    padding: 4px; /* Smaller padding for smaller screens */
  }
}

